<div class="jumbotron-header">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Video Database</h1>
                </div>
                <div class="col-md-5">
                    <div class="well">
                        <p class="lead"> Videos are available through the Music Library</p>
                        <a href="https://wwwdev2.lib.ua.edu/libraries-and-collections/music-library/" class="btn btn-primary" title="Music Library">Get more info <span class="fa fa-fw fa-info-circle"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <form class="facets-form">
                <div class="form-group">
                <span class="page-header">
                    <h4>Filter Videos By</h4>
                </span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vid.search" placeholder="Keyword search">
                </div>

                <div class="form-group hidden-xs">
                    <h5>Format</h5>
                    <div class="facet-group">
                        <div class="btn-group btn-group-justified">
                            <label class="btn btn-default" ng-model="vid.format" btn-radio="''">All</label>
                            <label class="btn btn-default" ng-model="vid.format" btn-radio="'dvd'">DVD</label>
                            <label class="btn btn-default" ng-model="vid.format" btn-radio="'vcr'">VHS</label>
                        </div>
                    </div>
                </div>

                <div class="form-group hidden-xs">
                    <h5>Genre</h5>
                    <div class="facet-group">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="vid.genre" value="">
                                All Genres
                            </label>
                        </div>
                        <div class="radio" ng-repeat="genre in genres">
                            <label>
                                <input type="radio" ng-model="vid.genre" ng-value="genre.label">
                                {{genre.label}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group hidden-xs">
                    <h5>Language</h5>
                    <div class="facet-group">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="vid.language" value="">
                                All Languages
                            </label>
                        </div>
                        <div class="radio" ng-repeat="lang in languages">
                            <label>
                                <input type="radio" ng-model="vid.language" ng-value="lang.label">
                                {{lang.label}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary" ng-click="resetFilters()"><span class="fa fa-fw fa-refresh"></span> Reset filters</button>
                </div>
            </form>
        </div>
        <div class="col-md-9 col-md-pull-3 videos-list-container">
            <p>
            <h4 class="text-right">Showing {{pager.totalItems}} results</h4>
            <div ng-if="activeFilters.format || activeFilters.genre || activeFilters.language">

                <ol class="breadcrumb facetcrumb">
                    <li ng-if="activeFilters.format"><strong>Format:</strong> <button type="button" class="btn btn-default" ng-click="vid.format = ''">{{vid.format}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                    <li ng-if="activeFilters.genre"><strong>Genre:</strong> <button type="button" class="btn btn-default" ng-click="vid.genre = ''">{{vid.genre}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                    <li ng-if="activeFilters.language"><strong>Language:</strong> <button type="button" class="btn btn-default" ng-click="vid.language = ''">{{vid.language}} <span class="text-muted" aria-hidden="true">&times;</span></button></li>
                    <li class="pull-right"><button type="button" class="btn btn-primary btn-small reset-btn" title="Reset filters" ng-click="resetFilters()"><i class="fa fa-refresh"></i></button></li>
                </ol>
            </div>


            </p>

            <div class="media animate-repeat" ng-repeat="item in filteredvidoes | after:(pager.page-1)*pager.perPage | limitTo:20">
                <div class="media-body">

                    <h4 class="media-heading">
                        <span ng-bind-html="item.title | highlight:vid.search"></span>

                        <small>
                            <span ng-bind-html="item.series_title | highlight:vid.search"></span>
                        </small>
                    </h4>

                    <div class="details-context">
                        <span ng-bind-html="item.call_number | highlight:vid.search"></span>
                        <span ng-bind-html="item.genre | highlight:vid.genre" ng-if="item.genre"></span>
                        <span ng-bind-html="item.language | highlight:vid.language" ng-if="item.language"></span>
                    </div>

                    <p class="text-justify" ng-bind-html="item.notes | highlight:vid.search"></p>
                </div>
                <div class="details-context">
                    <span ng-bind-html="item.keywords | highlight:vid.search"></span>
                </div>
            </div>


            <div class="text-center">
                <pagination class="pagination-sm" ng-model="pager.page" total-items="pager.totalItems" max-size="pager.maxSize" boundary-links="true" rotate="false" items-per-page="pager.perPage" ng-change="pageChange()" ng-if="pager.totalItems > pager.perPage"></pagination>
            </div>

            <div class="alert alert-warning text-center" role="alert" ng-show="pager.totalItems < 1">
                <h2>No results found <span ng-if="vid.search"> for "{{vid.search}}"</span></h2>
            </div>
        </div>
    </div>
</div>